#contact{  
    padding-top: 80px;  
    width: 100%;
    display: none;  
    justify-content: center;
    background-color: var(--white); 
     
    height: 50vh;
}

.contact-background{
    border: 2px solid rgb(167, 152, 152);
    margin-top: 50px;
    padding: 20px;
}


.contact-background div{
   display: flex;
   align-content:center ;
   margin-top: 20px;
}

.contact-background svg{
   fill: var(--red);
   margin-right: 10px;
}
