
/* *{
    border: 1px solid blue ;
} */

:root{
    --backGround: rgb(20, 3, 5);
}


#home, #menu, #contact{  
    padding-top: 80px;
    height: 100%; 
    display: none;  
}

#home{
    background-color: white;
    width: 100%;
    justify-content: center;
}

#menu{
    background-color: rgb(153, 43, 58);
}
#contact{
    background-color: rgb(148, 32, 32);
}

.now-displayed{
    display: flex !important;
}

.home-caption{
    text-align: center;
    /* color: white; */
}

.home-background{
  
    background-size: 100% 100%;
    height: 100%;
    width: 95%;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--red);
    border: none;
}
/* 
.order-btn{

} */